::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow: hidden;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast {
  border-radius: 1rem !important;
  color: #3d3d3d !important;
  font-family: "IRANSansX", sans-serif !important;
  margin: 0.5rem !important;
}